.footer{
    position:sticky;
    display:flex;
    justify-content: space-between;
    bottom: 0px;
    height:65px;
    width:99%;
    background-color: #282828;
    color:white;
    padding: 10px;
}

.footer_left{
    flex:0.3;
    display:flex;
    align-items: center;
    color:white;
    width: 300px;
}
.footer_song > h4{
    margin-bottom: 5px;
}
.footer_song >p {
    font-size:12px;
}
.footer_albumlogo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}
.footer_center{
    flex:0.4;
    padding:0 100px;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footer_right{
    flex:0.3;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footer_icon:hover,  
.footer_green:hover{
    transition:transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
    cursor:pointer;
}
.footer_rigth *Slider{
    color:green;
}